@import 'normalize.css';

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
     }
}

html {
  margin: 0 auto;
  width: 100%;
}

body {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  color: inherit;
}

/* Headings */

h1, h2, h3{
  font-family: 'Droid Serif';
  font-weight: 400;
  margin: 0.5em auto;
  padding: 0;
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 2.75em;
  //background color needed for default
}

h2 {
  font-size: 1.75em;
  text-align: center;
}

/* Content */

.col-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  float: left;
  @media (min-width: 800px) {
    width: 33.3%;
  }
}

li {
  font-family: 'Droid Sans';
  margin: .25em;
}

.default-container {
  @include clearfix;
}

.cate-container {
  margin: 3em 1.5%;
  padding: .5em 0;
  border-radius: 2em .25em;
}

.bookmark-container {
  display: none;
  margin: 1em .25em;
  padding: .25em .1em;
  border-radius: inherit;
  .bookmark-container :first {
    display: block;
  }
}

.anchor-button {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
}

a {
  color: inherit;
}

ul {
  display: none;
  list-style: none;
  padding: .25em;
  margin: 0 auto;
  text-indent: 3em;
}

// heading and top container

.default-container > a {
  margin-bottom: 3em;
}

.default-container > ul {
  display: hidden;
  border-radius: 2em .25em;
  width: 100%;
  float: left; 
  padding: 0;
  margin: 1em auto;
  text-indent: 0;
  text-align: center;
  @media (min-width: 1000px) {
    width: 33.3%;
    display: block;
  }
}

.default-container > ul > li {
  display: inline-block;
  text-indent: 0;
  margin: .75em;
}

// should-do footer

.should {
  width: 100%;
  padding: .75em 0;
  margin: 1em auto;
  text-align: center;
  border-radius: 0 4em;
  display: inline-block;
  li {
    text-indent: 0;
    @media (min-width: 1000px) {
      width: auto;
      margin: 0 .75em;
      display: inline-block;
    }
    p {
      margin: 0;
      color: inherit;
    }
  }
}

// color classes for random colors

$blue-font: #052136;
$blue-bg: #466984;
$blue-dark: #294e6b;
$blue-light: #6e8aa0;

$green-font: #162c00;
$green-bg: #bee599;
$green-dark: rgba(65, 114, 19, 0.5);
$green-light: #8ebf5f;

$pink-font: #4c0017;
$pink-bg: #be5f7c;
$pink-dark: #983352;
$pink-light: #e498af;

$orange-font: #582801;
$orange-bg: #ff8a29;
$orange-dark: #ff7400;
$orange-light: #ffa458;

.blue-font {
  color: $blue-font;
}

.blue-bg {
  background-color: $blue-bg;
}

.blue-dark {
  background-color: $blue-dark;
}

.blue-light {
  background-color: $blue-light;
}

.green-font {
  color: $green-font;
}

.green-bg {
  background-color: $green-bg;
}

.green-dark {
  background-color: $green-dark;
}

.green-light {
  background-color: $green-light;
}

.pink-font {
  color: $pink-font;
}

.pink-bg {
  background-color: $pink-bg;
}

.pink-dark {
  background-color: $pink-dark;
}

.pink-light {
  background-color: $pink-light;
}

.orange-font {
  color: $orange-font;
}

.orange-bg {
  background-color: $orange-bg;
}

.orange-dark {
  background-color: $orange-dark;
}

.orange-light {
  background-color: $orange-light;
}
